body { background-color: #CAC0BD ;}

/*@font-face {
font-family: Pacifico;
src: url(Pacifico.ttf);
}
*/




.mrbing {
  /* the shadows are added to the boxmodel, so you need to preserve some extra space*/ 
  text-align: center;
  width: 500px;
  height:500px;
  margin-top: 100px;
  margin-left:350px; 
  background-color: #ffffff ;
  border : 2px solid black;
  -webkit-border-radius : 50%;
  -moz-border-radius : 50%; 
  background-image: url("Image/LangLong.jpg");
}